body {
 	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 	padding: 0;
 	margin: 0;
}

#titleBar {
	height: 50px;
	position: absolute;
	right: 250px;
	left: 0;
	font:16px;
	background-color:blue;
}

#stage {
	background-color:yellow;
	position:absolute;
	right: 250px;
	left: 0;
	top: 50px;
	bottom: 0;
}

#components {
	width: 250px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: black;
}

a {
  color: #00B7FF;
}